#header_wrap {
  background-image: url("/assets/snowflakes.png");
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}
.onblack {
  background-color: black;
  padding: 10px;
}
